body {
    width: 100%;
}
.main {
    margin: 50px;
}
.title {
    text-align: center;
}
.section {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 20px;
}
.sub-section {
    width: 40vw;
    margin: 30px;
}
.last-figure {
    width: 100%;
    margin: 30px;
}
.text {
    margin: 0 10px;
}